<section class="page-padding page-vertical-padding bg-lighter">

	<div class="flex flex-col md:flex-row">
		<!--Left-->
		<div class="w-full md:w-8/12 lg:w-2/3 mr-12 lg:mr-16">
			<div class="mb-12">
			{% include section-break.html text="Nhật ký ba hoa" %}
			</div>
			<div class="pr-0 md:pr-6">
				{% for post in site.data.blog.highlight %}
					<div class="flex flex-col lg:flex-row mb-12">
						<div class="w-full lg:w-1/3 flex-none">
							<div class="aspect-w-4 aspect-h-3">
								<img loading="lazy"
										 src="{{ post.thumbnail }}"
										 class="w-full h-full object-center object-cover" alt=""
										 onerror='this.onerror = null; this.src="assets/img/fallback.svg"'
								/>
							</div>
						</div>
						<div class="py-5 pr-5 lg:p-5">
							<p class="mb-3 text-xs font-semibold tracking-wide uppercase">
								<a href="/" class="transition-colors duration-200 text-blue-gray-900 hover:text-deep-purple-accent-700" aria-label="Category" title="traveling">traveling</a>
								<span class="text-gray-600">— 28 Dec 2020</span>
							</p>
							<a href="/" aria-label="Category" title="Visit the East" class="inline-block mb-3 text-3xl font-serif">{{ post.title }}</a>
							<p class="mb-2 text-gray-700 font-sans text-justify">
								{{ post.description }}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<!--Aside-->
		<aside class="w-full md:w-4/12 lg:w-1/3">
			<div class="mb-12">
				{% include section-break.html text="Bài viết nổi bật" %}
			</div>
			<div class="pr-6">
				{% for post in site.data.blog.aside %}
					<div class="flex sm:flex-row md:flex-col lg:flex-row mb-6">
						<div class="flex-none w-2/6 md:w-full lg:w-2/6">
							<div class="aspect-w-4 aspect-h-3">
								<img
									loading="lazy"
									src="{{ post.thumbnail }}"
									class="object-cover w-full h-full"
									alt=""
									onerror='this.onerror = null; this.src="assets/img/fallback.svg"'
								/>
							</div>
						</div>
						<div class="p-3 md:py-3 lg:p-3">
							<a href="/" aria-label="Category" title="Visit the East" class="inline-block mb-2 text-xl font-serif">{{ post.title }}</a>
							<p class="mb-2 text-xs tracking-wide">
								<a href="/" class="font-sans" aria-label="Category" title="traveling">by</a>
								<span class="text-gray-600 font-serif italic">{{ post.author }}</span>
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</aside>
	</div>
</section>
