<header
	x-data="{ scrollAtTop: true }"
	id="home-header"
	@scroll.window="scrollAtTop = (window.pageYOffset > 100) ? false : true"
	class="transform py-5 w-full flex justify-between page-padding fixed bg-transparent z-50 opacity-0 scale-90 transition-colors text-white"
	x-bind:class="{ 'bg-dark' : !scrollAtTop }"
>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-7"><path fill="none" d="M0 0h24v24H0z"/><path d="M14 10h2v.757a4.5 4.5 0 0 1 7 3.743V20h-2v-5.5c0-1.43-1.175-2.5-2.5-2.5S16 13.07 16 14.5V20h-2V10zm-2-6v2H4v5h8v2H4v5h8v2H2V4h10z" fill="currentColor"/></svg>

	<a href="/">
		{% include branding/logo.html %}
	</a>
	<div
		x-data="{ mobileMenuOpen : false }">
		<div class="text-white">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-7"><path fill="none" d="M0 0h24v24H0z"/><path d="M16 18v2H5v-2h11zm5-7v2H3v-2h18zm-2-7v2H8V4h11z" fill="currentColor"/></svg>
			<button @mouseover="mobileMenuOpen = true"
							@click="mobileMenuOpen = true" type="button"
							class="cursor-pointer absolute z-50 h-full w-24 right-0 top-0"
							aria-expanded="false">
				<span class="sr-only">Open main menu</span>
			</button>
		</div>

		<!--
				Mobile menu, show/hide based on menu open state.

				Entering: "duration-150 ease-out"
					From: "opacity-0 scale-95"
					To: "opacity-100 scale-100"
				Leaving: "duration-100 ease-in"
					From: "opacity-100 scale-100"
					To: "opacity-0 scale-95"
			-->
		{% include navigation/mobile-navigation.html %}
	</div>
</header>
