<section id="hero-section" data-scroll-section data-scroll data-scroll-id="hero" class="relative h-screen w-screen overflow-hidden bg-lighter">
	<div class="relative h-full w-screen">
	<!--NOISE
	<canvas id="noise" class="noise"></canvas>
-->

	<!--INTRO WRAPPER-->
		<div id="hero-intro-wrapper" class="absolute w-full full-height z-50 flex items-center justify-center bg-light page-padding">
			<div class="absolute w-10/12 md:w-5/6 lg:w-1/2 text-xl text-center font-serif md:mx-auto">
				<h1 id="hero-intro-1" class="opacity-0">Nếu các bạn hy vọng tôi sẽ bắt đầu phần giới thiệu này bằng một kỉ niệm hoặc điểm nhấn nào đó thì các bạn đã lầm, rõ ràng mọi người chẳng quan tâm lắm đến sự khởi đầu khi nó không vĩ đại và tôi cũng chẳng có ý định sẽ để nó ở đây.</h1>
			</div>
			<div class="absolute w-10/12 md:w-5/6 lg:w-1/2 text-xl text-center font-serif md:mx-auto">
				<h1 id="hero-intro-2" class="opacity-0">Thật lòng mà nói, các bạn nên đọc một bài viết nào đó hay thật sự hoặc dở một cách chân thành.</h1>
				<h1 id="hero-intro-3" class="opacity-0">Ở đây, chúng tôi dở thực sự nhưng lại hay một cách chân thành!</h1>
			</div>

			<button id="skip-button" class="absolute font-sans left-1/2 bottom-8 transform -translate-x-1/2 cursor-pointer">Bỏ qua giới thiệu</button>
		</div>

		<!--HERO HEADER-->
		<div class="absolute w-full h-full z-40 flex items-center justify-center">
			<h1 id="hero-header-text" class="text-gray-900 font-serif text-2xl md:text-4xl text-center opacity-0">{{ site.data.home.hero.heading }}</h1>
		</div>

		<!--HERO SOCIALS-->
		<div class="absolute z-30 text-white bottom-12 right-28 flex -mr-2 opacity-0" id="hero-socials">
			{% for item in site.data.home.hero.socials %}
				<div class="w-7 h-7 mx-2">
					{% include {{ item.icon | prepend: 'svg/' | append: '.svg' }} %}
				</div>
			{% endfor %}
		</div>

		<!--HERO OVERLAY-->
		<div id="hero-overlay" class="absolute w-full h-full z-10 bg-gray-800 bg-opacity-20 opacity-0"></div>

		<!--HERO VIDEO
		<video id="hero-video" class="absolute w-full h-full z-0 object-cover opacity-0 transform scale-105" autoplay loop muted playsinline>
				<source src="assets/video/hero.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>-->
		<img id="hero-video" class="absolute w-full h-full z-0 object-cover opacity-0 transform scale-105" src="assets/img/hero.webp" alt="hình ảnh trang chủ">
	</div>
</section>
