<section class="h-full w-screen font-sans">
	<div class="h-screen w-screen my-second-page flex flex-col relative slides-nav" data-lg-page="my-second-page">
		<ul class="h-screen w-screen relative overflow-hidden slideshow">
			{% for item in site.data.journey.slider %}
				<li class="flex items-center justify-center flex-shrink-0 absolute w-full h-full top-0 left-0 slide">
					<div class="text-white text-center z-20 slides__caption-headline">
						<h2 class="text-5xl md:text-7xl lg:text-8xl sm:w-0 text-row leading-tight font-display overflow-hidden">
							<span>
							{{ item.title }}
							</span>
						</h2>
						<p class="md:mt-3 text-sm md:text-base lg:text-2xl flex justify-center items-center slides__caption-link">
							<img src="assets/img/svg/clock.svg" class="mr-2 font-serif h-6" />
							<span>{{item.description}}</span>
						</p>
						<div class="mt-3 md:mt-4 lg:mt-6 slides__caption-headline leading-normal">
            <span class="slides__CTA-text">
                <a class="px-2 py-1 md:px-3 md:py-2 rounded-full border border-white text-sm lg:text-base bg-white bg-opacity-20" href="/hanh-trinh/ta-nang">Xem hành trình</a>
            </span>
						</div>
					</div>
				</li>
			{% endfor %}

			<div class="w-full h-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black bg-opacity-20 z-10"></div>
		</ul>
		<div class="flex justify-between items-center px-6 py-4 md:px-8 lg:px-16 lg:py-8 absolute bottom-0 left-0 w-full z-20">
			<div class="bg-black bg-opacity-70 px-3 py-2 rounded-full">
				<div class="text-white transition-all slides-nav__location relative overflow-hidden"
					data-bookmarks='[{% for item in site.data.journey.slider %}{%if forloop.index != 1 %},{% endif %}"{{item.bookmark}}"{% endfor %}]'
				>
					<img src="assets/img/svg/marker.svg" class="h-6" />
					<span class="slides-nav__location--text text-sm md:text-base">{{site.data.journey.slider[0].bookmark}}</span>
				</div>
			</div>
			<div class="absolute right-6 bottom-full md:right-auto md:bottom-auto md:transform md:top-1/2 md:-translate-y-1/2 md:left-1/2 md:-translate-x-1/2">
				<div class="flex items-center">
					<div class="overflow-hidden w-9 h-9 md:h-14 relative">
						<span class="text-white text-4xl md:text-6xl slides-nav__index-current absolute top-1/2 transform -translate-y-1/2 right-0"></span>
					</div>
					<span class="ml-1 text-gray-400 text-2xl md:text-4xl">/</span>
					<span class="text-gray-400 text-2xl md:text-4xl slides-nav__index-total"></span>
				</div>
				<div class="h-1">

				</div>
			</div>
			<div class="inline-flex items-center">
				<a href="/hanh-trinh-ba-hoa" class="text-white mr-2">
					Xem tất cả
				</a>
				<img class="h-3" src="assets/img/svg/arrow.svg" />
			</div>
		</div>
		<button class="slides-nav__button text-base md:text-lg slides-nav__button--prev absolute top-1/2 -left-8 md:left-0 transform -translate-y-1/2 z-30 text-white -rotate-90 scale-100 p-3 ml-3 transition-all hover:text-light hover:scale-105 outline-none" aria-label="Previous slide">
			previous
		</button>
		<button class="outline-none slides-nav__button text-base md:text-lg  slides-nav__button--next absolute top-1/2 -right-4 md:right-0 transform -translate-y-1/2 z-30 text-white rotate-90 scale-100 hover:scale-105 p-3 mr-3 transition-all hover:text-light" aria-label="Next slide">
			next
		</button>
		<div id="content" class="w-full h-full absolute top-0 left-0 z-90">
			<div id="slider"
				data-images='[{% for item in site.data.journey.slider %}{%if forloop.index != 1 %},{% endif %}"/assets/img/journey/{{item.image_url}}.webp"{% endfor %}]'
			>
			</div>
		</div>
	</div>
</section>
