<section id="social-section" data-scroll-section class="bg-white page-padding page-vertical-padding">
	<!--FOLLOW BUTTON-->
	<div class="flex items-center justify-between font-sans mb-6">
		<div class="mr-8 w-full">
		{% include section-break.html text="Ba Hoa Instagram" %}
		</div>
		<div class="flex-none">
			<a href="#" class="">
				FOLLOW US
			</a>
		</div>
	</div>



	<!--INSTAGRAM IMAGE-->
	<div class="grid grid-flow-row grid-rows-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-1.5 md:gap-4">
		{% for item in site.data.instagram.feed %}
			<div data-image-reveal class="instagramImage relative w-full overflow-hidden">
				<div class="absolute overlay w-full h-full bg-light opacity-0"></div>
				<img class="absolute w-full h-full object-cover transform opacity-0 scale-110"
						 src="/assets/img/insta/{{item.image | append : '.jpg'}}"
						 loading="lazy"
						 alt="{{item.image }}">
			</div>
		<!--	<div class="instagramImage relative w-full h-80 bg-center bg-cover border-2 border-gray-200"
					 style="background-image:url(/assets/img/insta/{{item.image | append : '.jpg'}})">

				<div class="absolute z-10 bottom-4 right-4 text-white">
					<img alt="{{item.image}}" class="h-8" src="assets/img/svg/instagram.svg" />
				</div>
			</div>-->
		{% endfor %}
	</div>
</section>
