<section class="min-h-screen w-full bg-lighter py-32">

	<div class="page-padding w-full md:w-5/6 lg:w-4/6 text-justify md:text-center font-serif md:mx-auto" data-lg-reveal="fade-to-top" data-lg-reveal-stagger="0.6">
		<div class="mb-6 text-center" data-lg-reveal="fade-to-top">
			<div class="w-40 h-auto mb-4 mx-auto">
				{% include svg/bahoa.svg %}
			</div>
			<h2 class="mb-2 text-3xl font-semibold">
				{{ site.data.home.story.heading }}
			</h2>
		</div>
		<p class="pt-2 text-xl font-normal leading-10">{{ site.data.home.story.description }}</p>
	</div>

	<div class="pt-32 hidden md:block">
		{% include home-section/story-gallery.html %}
	</div>

</section>
