<div data-scroll data-scroll-id="storyGallery" class="slider-container" >
	<div class="slider">
		<div class="slider-inner">
			{% for item in site.data.home.story.gallery %}
				<div class="item border-2 border-gray-200 transform {{ item.rotate }}">
					<div class="absolute z-10 bottom-4 right-4">
						<div class="inline-flex rounded-full bg-gray-800 bg-opacity-70 text-white font-serif px-3 py-1.5 items-center">
							<div class="w-4 h-4 mr-1">
								{% include svg/location.svg %}
							</div>
							<p class="text-sm">{{ item.title }}</p>
						</div>
					</div>
					<img class="absolute w-full h-full object-cover galleryImage" src="assets/img/story/{{ item.image | append: ".webp" }}" alt="{{ item.title }}">
				</div>
			{% endfor %}
		</div>
	</div>
</div>
