<div @keydown.window.escape="mobileMenuOpen = false" x-show="mobileMenuOpen" class="fixed inset-0 overflow-hidden full-height"
			 aria-labelledby="slide-over-title" x-ref="dialog" aria-modal="true" style="display: none;">
	<div class="absolute inset-0 overflow-hidden full-height">
		<!--OVERLAY-->
		<div x-show="mobileMenuOpen" x-transition:enter="ease-in-out duration-500" x-transition:enter-start="opacity-0"
				 x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-500"
				 x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
				 x-description="Background overlay, show/hide based on slide-over state."
				 class="absolute inset-0 bg-transparent" @mouseover="mobileMenuOpen = false" @click="mobileMenuOpen = false"
				 aria-hidden="true" style="display: none;"></div>
		<!--MENU-->
		<div class="fixed inset-y-0 right-0 flex full-height">
			<div x-show="mobileMenuOpen" x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
				 x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
				 x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
				 x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full"
				 class="relative" x-description="Slide-over panel, show/hide based on slide-over state."
				 style="display: none;">
				<div class="h-full flex flex-col py-4 bg-dark shadow-xl overflow-y-scroll -mr-6 pl-44 pr-4">
					<div class="mt-10 relative flex-1 pr-4 sm:px-6 flex flex-col">
						<nav class="p-4 flex flex-col">
							{% for item in site.data.navigation %}
								<a href="{{ item.url }}"
									 class="mr-5 text-light py-4 text-right font-serif text-xl"
									 @click="mobileMenuOpen = false"
								>{{ item.text }}</a>
							{% endfor %}
						</nav>
						<!-- /End replace -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
