<footer class="nav_footer page-vertical-padding-small bg-primary text-lighter">

	<div class="page-padding">
		<div class="flex flex-col md:flex-row">
			<!--BLOCK 1-->
			<div class="flex sm:w-full md:w-5/12 md:pr-14 mb-4 md:mb-0">
				<img class="w-24 h-24 mr-8" src="assets/img/svg/logo.svg" alt="logo">
				<div class="font-serif">
					<h5 class="text-xl mb-2 font-semibold">
						Our Mission
					</h5>
					<p class="text-sm text-justify">
						Theo từ điển Tiếng Việt, "**Ba Hoa**" là tính từ chỉ kẻ nói nhiều, phóng đại sự thật và có ý khoe khoang.
						Ở đây, chúng tôi vô tình tìm được một ý niệm khác: đó là tính kết nối, tương tác và gắn kết con người trong thời đại hoàng kim của smartphone và công nghệ dần chôn vùi những câu chuyện.
					</p>
				</div>
			</div>

			<!--BLOCK 2-->
			<div class="sm:w-full md:w-4/12 md:pr-8 flex flex-row text-sm mb-4 md:mb-0">
				<nav class="w-1/2 md:px-4 flex flex-col">
					{% for item in site.data.navigation %}
						<a href="{{ item.url }}"
							 class="mr-5 pb-2 text-left font-sans"
						>{{ item.text }}</a>
					{% endfor %}
				</nav>
				<div class="w-1/2 md:px-4 flex flex-col">
					{% for item in site.data.home.hero.socials %}
						<a href="{{ item.href }}"
							 class="mr-5 pb-2 text-left font-sans"
						>{{ item.title }}</a>
					{% endfor %}
				</div>
			</div>

			<!--BLOCK 3-->
			<div class="sm:w-full md:w-3/12">
				<div>
					<h5 class="text-xl mb-2 font-semibold font-serif">
						Đăng ký nhận bài viết
					</h5>
					<form class="border-b py-2 flex font-sans text-sm">
						<label for="name"></label>
						<input
								class="w-full mr-3 border-0 outline-none bg-transparent placeholder-gray-50"
								placeholder="Nhập email của bạn"
								type="text"
								id="name"
								name="name" />
						<button class="text-dark font-bold">Gửi</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--Break-->
	<div class="w-full bg-light my-8 opacity-40" style="height: 1.5px">
	</div>

	<div class="page-padding">

	</div>
</footer>
