<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.section == "home" %}
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
  {% else %}
    <title>{{ page.title }}</title>
    {% if page.meta_description %}
      <meta name="description" content="{{ page.meta_description }}">
    {% endif %}
  {% endif %}
  <meta property="og:image" content="/assets/img/og-image.webp">
  <meta property="og:title" content="Quá chuyên với người thường, Quá thường với dân chuyên." />
  <meta property="og:description" content="Chúng tôi nhận ra sự liều lĩnh mới là bản chất của tuổi trẻ, sự bốc đồng là nhiệt huyết, những chuyến đi thiếu tính toán lại đem về sự hay ho của trải nghiệm" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" href="/assets/img/favicon.png" sizes="32x32" type="image/png">

  {% if jekyll.environment == 'production' and site.analytics %}
    {% include analytics.html %}
  {% endif %}
  <script async src="{% link assets/js/main.js %}" type="text/javascript"></script>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  {% if page.script %}
    <script async src="assets/js/{{ page.script }}" type="text/javascript"></script>
  {% endif %}
  <!-- <script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script> -->
</head>
