<div id="loader">
	<div id="loader-logo" class="transform scale-75 opacity-0">
	{% include svg/logo.svg %}
		<!--
		<svg class="h-64 w-64" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
<g>
	<path id="bathead" d="M169.4,428.8c22.6-24.9,31.7-54.2,32-87.2c-4.7,1.5-8.8,2.9-13,4c-4.9,1.2-9.9,2.4-14.9,2.9
		c-5.7,0.6-11.1-1.6-16.5-3.2c-1.6-0.5-3.3-1-4.9-1.5c-4.2-1.4-6.5-4.7-6.6-9.1c-0.1-4.8,1.1-9.3,3.1-13.6c1.1-2.3,1.2-4.6,1.6-7
		c0.3-1.5,0.2-3.1,0.4-4.7c0.2-1.9-0.7-3.4-2.2-4.1c-2.2-0.9-2.8-2.6-2.9-4.6c-0.1-2.1,1.1-3.4,3-4.1c0.2-0.1,0.3-0.3,0.2-0.1
		c-1.2-1.3-2.8-2.3-3.4-3.8c-0.7-1.7,0.5-3.2,1.5-4.8c1.2-1.8,2-4,2.5-6.2c0.5-1.8,0.3-3.8,0.5-5.7c0.2-1.8,0.4-3.6,0.5-5.3
		c-3.4,0-6.7,0.1-10.1,0c-2.8-0.1-5.6-0.1-8.3-0.5c-4.5-0.7-5.2-2.9-2.2-6.3c6.3-7.1,10.7-15.3,14.5-23.8c1.3-2.8,2.2-5.8,3.4-8.7
		c0.8-1.9,0.1-3.3-1.7-4.1s-3.7-1.5-5.5-2.3c-1.5-0.6-2-1.4-1.6-3.2c1.5-6.6,4.9-12.3,7.9-18.1c8.2-15.5,18.4-29.5,32.4-40.3
		c12.8-9.9,27.2-15.8,43.2-17.7c4.5-0.6,9-0.8,13.5-1.3c1.3-0.2,2.8-0.5,3.9-1.2c10.8-6.5,16.6-16.4,19.1-28.5
		c2.1-10.3,1.6-20.7,1-31.1c-0.2-2.8-0.3-5.7-0.2-8.5c0.2-3.7,1.6-4.5,4.8-2.6c3.5,2.1,6,5.2,8.2,8.5c5.8,8.8,9.4,18.5,12.3,28.6
		c2,6.8,3.5,13.7,5.6,20.8c1-3.4,2.1-6.7,2.8-10.2c2.3-10.3,1.7-20.7,1.1-31.1c-0.2-3-0.3-6-0.1-8.9c0.2-3.3,1.6-3.9,4.5-2.2
		c3.7,2.1,6.3,5.3,8.5,8.7c5.8,8.8,9.3,18.6,12.3,28.6c5.8,19.7,8.7,39.7,8,60.3c-0.2,6.1,0.5,11.9,2.9,17.8c4.1,9.9,4,20.4,3.2,31
		c-1.8,24.6-4.3,49.2-4.4,73.9c-0.1,10,0.2,20,2.2,29.9c0.4,1.8,1.1,3.3,2.5,4.6c10.4,9.5,20.6,19.3,28.9,30.9
		c3.6,5,6.8,10.2,8.8,16.3c-6.7-4.9-14.5-6.5-22.1-8.1c-18.5-3.9-37.1-6.4-56-6.5c-15.8-0.1-30.8,3.6-44.9,11
		c-19.2,10.1-37.2,22-54.8,34.6c-7.7,5.5-15.1,11.2-22.7,16.8C171,427.7,170.4,428.1,169.4,428.8z"/>
</g>
			<g>
				<path id="batlogo" d="M249.3,217.6c6.8,0,9.5,1.4,9.5,1.4l4.1-17.2c0,0,3.2,13.1,4.5,24.9c1.4,11.8,22.2,4.1,39.8,0.5
		c17.7-3.6,21.3-32.1,21.3-32.1H492c0,0-98.7,29.9-73.8,95.5c0,0-145.8-22.2-168.4,68.8l0,0c-22.6-91-168.4-68.8-168.4-68.8
		c24.9-65.7-73.8-95.5-73.8-95.5H171c0,0,3.6,28.5,21.3,32.1s38.5,11.3,39.8-0.5c1.4-11.8,4.5-24.9,4.5-24.9l4.1,17.2
		c0,0,2.7-1.4,9.5-1.4L249.3,217.6L249.3,217.6z"/>
			</g>
</svg>

<svg class="h-64 w-64">
			<path id="logo1" d="M46.392 8.607a8.608 8.608 0 1017.216 0 8.608 8.608 0 00-17.216 0z M39.728 18.155c.956 5.773-.782 11.912-5.226 16.357a18.642 18.642 0 01-13.267 5.494c-1.038 0-2.064-.088-3.07-.253 4.748 3.407 7.85 8.97 7.85 15.246 0 6.277-3.102 11.84-7.85 15.247a18.972 18.972 0 013.07-.254c5.012 0 9.723 1.952 13.267 5.496 4.444 4.445 6.182 10.582 5.226 16.357 3.406-4.76 8.975-7.871 15.261-7.871s11.856 3.11 15.262 7.871c-.957-5.775.782-11.912 5.226-16.357 4.446-4.445 10.583-6.184 16.357-5.226-4.76-3.407-7.87-8.977-7.87-15.263s3.11-11.855 7.87-15.26c-1.023.168-2.056.258-3.09.258a18.7 18.7 0 01-13.266-5.485c-4.445-4.445-6.184-10.584-5.227-16.357-3.406 4.76-8.976 7.87-15.262 7.87s-11.855-3.11-15.26-7.87zm12.833 32.324a170.647 170.647 0 002.19 3.919 162.088 162.088 0 00-1.223-4.32c-1.396-4.766-2.798-10.083-1.507-15.076.412-1.591 1.573-3.786 2.98-3.966 1.406.18 2.567 2.375 2.979 3.966 1.29 4.993-.11 10.31-1.508 15.076-.42 1.432-.84 2.871-1.223 4.32.754-1.295 1.475-2.61 2.19-3.919 2.383-4.358 5.151-9.108 9.594-11.726 1.417-.834 3.79-1.565 4.911-.699.868 1.123.138 3.495-.697 4.913-2.619 4.442-7.368 7.212-11.727 9.593a168.81 168.81 0 00-3.918 2.19c1.449-.383 2.887-.802 4.32-1.222 4.766-1.398 10.082-2.798 15.075-1.507 1.592.41 3.787 1.573 3.966 2.978-.18 1.407-2.374 2.568-3.966 2.98-4.993 1.29-10.31-.11-15.076-1.507-1.432-.42-2.87-.84-4.319-1.223 1.294.754 2.61 1.474 3.919 2.19 4.358 2.382 9.107 5.151 11.726 9.594.835 1.417 1.565 3.79.697 4.911-1.121.867-3.494.137-4.91-.698-4.444-2.618-7.212-7.368-9.596-11.726a161.611 161.611 0 00-2.189-3.918c.383 1.448.803 2.887 1.223 4.318 1.397 4.768 2.797 10.083 1.508 15.077-.412 1.592-1.573 3.786-2.98 3.966-1.406-.18-2.567-2.374-2.979-3.966-1.29-4.994.11-10.31 1.507-15.077.42-1.431.84-2.87 1.222-4.318a168.702 168.702 0 00-2.189 3.918c-2.382 4.358-5.15 9.108-9.594 11.726-1.418.835-3.79 1.565-4.911.698-.868-1.12-.137-3.494.698-4.91 2.617-4.444 7.367-7.213 11.725-9.596a166.644 166.644 0 003.92-2.189c-1.449.382-2.888.803-4.32 1.223-4.766 1.396-10.083 2.796-15.075 1.507-1.593-.412-3.788-1.573-3.967-2.98.179-1.405 2.374-2.567 3.967-2.978 4.992-1.29 10.309.11 15.075 1.507 1.432.42 2.871.84 4.32 1.222a170.757 170.757 0 00-3.92-2.19c-4.358-2.381-9.108-5.15-11.725-9.593-.835-1.418-1.566-3.79-.698-4.913 1.12-.866 3.493-.135 4.91.699 4.444 2.618 7.213 7.368 9.595 11.726z M46.393 101.392A8.607 8.607 0 0155 92.784 8.608 8.608 0 1155 110a8.607 8.607 0 01-8.607-8.608zM92.785 55a8.61 8.61 0 1017.214-.002 8.61 8.61 0 00-17.214.001zM8.608 46.392a8.608 8.608 0 11-.002 17.215 8.608 8.608 0 01.002-17.215zm85.283-18.11A8.609 8.609 0 1081.715 16.11 8.609 8.609 0 0093.89 28.282zM16.11 93.89a8.607 8.607 0 010-12.172 8.609 8.609 0 110 12.173zm65.608-12.172a8.609 8.609 0 1012.173 12.17 8.609 8.609 0 00-12.174-12.17zM28.282 16.109a8.607 8.607 0 010 12.173 8.61 8.61 0 110-12.174z" fill="#F4B484"/>
			<path id="logo2" d="M59.3337 4.24605c-.5607.2609-1.2101.19762-1.7289-.13725-.9706-.6269-1.4087-1.90412-.9034-2.95942.4858-1.015309 1.7766-1.446554 2.7764-.93064 1.0172.524708 1.5887 1.9207 1.1146 2.96328-.221.48579-.6698.88394-1.1916 1.02898l-.0671.03505zM50.6667 104.197c.5597-.261 1.21-.197 1.7279.138.9715.626 1.4086 1.904.9043 2.959-.4857 1.015-1.7766 1.447-2.7773.931-1.0163-.525-1.5887-1.921-1.1137-2.964.221-.485.6688-.884 1.1906-1.029l.0346-.018.0336-.017zM105.752 58.2847c.146.5169.547.9618 1.037 1.1808 1.053.4702 2.46-.0973 2.99-1.1049.521-.991.087-2.2711-.939-2.753-1.064-.5003-2.353-.0662-2.985.8966-.338.5141-.401 1.1575-.138 1.7133l.006.0126.006.0128.011.0199.012.0219zM3.21041 48.3781c.49064.219.89171.663 1.03774 1.1809l.005.0091c.0102.0187.02085.0381.03005.058.26381.555.19956 1.1994-.13824 1.7134-.63179.9618-1.92068 1.396-2.9847.8956-1.02507-.4819-1.460222-1.7621-.939406-2.753.52958-1.0076 1.937236-1.5742 2.989556-1.104zM93.5812 65.6575c-.6571-1.2324-1.5391-2.3382-2.496-3.3526-1.7406-1.8448-3.8131-3.3585-6.057-4.5462-2.2682-1.2002-4.7233-2.0638-7.231-2.6147-2.8932-.6367-5.8867-.846-8.846-.772-1.1186.0292-2.2361.1012-3.3488.2122 1.5576.296 3.0762.8216 4.5131 1.4836 2.6021 1.2004 5.0095 2.8056 7.2027 4.6348 1.1186.9335 2.1884 1.9226 3.2047 2.9643.0665.0682.1327.1365.1986.2051.1128.1172.225.235.3369.3536-1.8672.0038-3.7333-.0078-5.5956-.1363-2.4571-.1694-4.9093-.5598-7.2447-1.3522-1.3784-.4682-2.7072-1.0796-3.9309-1.8555 1.8526 1.6648 3.7177 3.3157 5.6355 4.9055 2.164 1.796 4.3943 3.5161 6.7258 5.0922 2.0161 1.3629 4.1149 2.6313 6.3821 3.5405 1.1059.4449 2.2517.8051 3.4247 1.0281 1.1643.2199 2.387.3494 3.5698.2083 1.173-.1392 2.2935-.588 3.0723-1.4963.7583-.8829 1.173-2.0161 1.3103-3.1579.0458-.3758.0633-.7594.0506-1.141.039-.1878.0643-.3806.076-.5743.0759-1.2733-.3612-2.5175-.9531-3.6292zM70.249 70.7661c1.3794 2.1474 2.499 4.4799 3.2466 6.9175.7398 2.4132 1.1253 4.9356 1.0406 7.4599-.0467 1.3891-.2122 2.789-.6269 4.1206-.3738 1.2003-.953 2.388-1.9148 3.2339-.1461.1285-.3008.2473-.4624.3534-.2648.2794-.5501.5374-.8509.771-.9111.7116-2.0121 1.2218-3.1774 1.3152-1.2003.0954-2.312-.3719-3.2407-1.0952-.9365-.7301-1.7094-1.6783-2.3753-2.6508-.6707-.9793-1.2237-2.0374-1.689-3.1268-.955-2.2322-1.5342-4.6007-1.9869-6.9769-.5247-2.7501-.8742-5.5294-1.1234-8.3155-.2219-2.4687-.3631-4.9444-.4857-7.4189.3115 1.4058.8148 2.7705 1.4553 4.0673 1.0864 2.198 2.5418 4.1917 4.1587 6.0336 1.2256 1.3969 2.5369 2.7131 3.8589 4.0185.0088-.256.0166-.5121.0204-.7691.0244-1.4494-.0262-2.899-.1518-4.3427-.2453-2.8308-.8031-5.653-1.7873-8.3271-.5432-1.4748-1.2422-2.9107-2.1329-4.2113.8664.7018 1.7084 1.433 2.5193 2.1971 2.1456 2.021 4.113 4.2678 5.7056 6.7463zM89.1179 91.3949c-.6055.1266-1.1098.5374-1.32 1.1147-.005.0132-.0093.0267-.0134.0404l-.009.0316c-.2658.4683-.2998 1.064-.109 1.5624.4088 1.07 1.8087 1.6559 2.9019 1.3143 1.0747-.336 1.6802-1.5459 1.2996-2.6041-.3962-1.1001-1.617-1.6968-2.7501-1.4593zM29.4769 44.1764c1.0163 1.0416 2.0862 2.0308 3.2047 2.9643 2.1933 1.8291 4.6007 3.4344 7.2028 4.6348 1.4369.6619 2.9555 1.1876 4.5131 1.4835-1.1127.111-2.2303.184-3.3488.2122-2.9594.075-5.9529-.1352-8.846-.7719-2.5077-.5511-4.9629-1.4145-7.2301-2.6148-2.2448-1.1877-4.3174-2.7015-6.057-4.5461-.9579-1.0144-1.8399-2.1204-2.497-3.3528-.5918-1.1107-1.0289-2.3557-.953-3.6281.0117-.1947.037-.3864.0759-.5743-.0126-.3826.0059-.7652.0506-1.142.1373-1.1409.552-2.2749 1.3104-3.158.7787-.9082 1.8992-1.3569 3.0723-1.4962 1.1827-.1401 2.4045-.0116 3.5697.2094 1.1731.2218 2.3189.5831 3.4247 1.0269 2.2673.9093 4.3671 2.1778 6.3812 3.5406 2.3325 1.5771 4.5627 3.2972 6.7268 5.0923 1.9167 1.5907 3.7829 3.2407 5.6354 4.9053-1.2236-.7748-2.5524-1.3871-3.9309-1.8544-2.3354-.7934-4.7876-1.1838-7.2446-1.3531-1.8623-.1275-3.7285-.1393-5.5946-.1363.1762.1879.3534.3748.5344.5587zM43.9242 28.3702c1.322 1.3054 2.6333 2.6216 3.8589 4.0185 1.617 1.8418 3.0723 3.8365 4.1587 6.0345.6406 1.2967 1.1439 2.6615 1.4554 4.0663-.1227-2.4746-.2638-4.9501-.4858-7.4189-.2492-2.786-.5987-5.5653-1.1234-8.3145-.4536-2.3762-1.0319-4.7457-1.9869-6.9779-.4653-1.0893-1.0182-2.1465-1.689-3.1269-.6658-.9724-1.4388-1.9205-2.3752-2.6497-.9287-.7233-2.0405-1.1916-3.2398-1.0952-1.1662.0925-2.2672.6036-3.1784 1.3142-.3008.2346-.586.4926-.8508.771-.1616.1071-.3164.2248-.4634.3544-.9608.8459-1.5401 2.0326-1.9139 3.2329-.4147 1.3317-.5802 2.7325-.6269 4.1216-.0847 2.5234.3008 5.0467 1.0407 7.459.7476 2.4385 1.8671 4.771 3.2465 6.9184 1.5926 2.4776 3.56 4.7244 5.7056 6.7463.8109.7641 1.653 1.4953 2.5194 2.1971-.8908-1.3016-1.5897-2.7374-2.1329-4.2123-.9842-2.6731-1.5411-5.4953-1.7873-8.3271-.1256-1.4437-.1762-2.8932-.1519-4.3417.0039-.257.0117-.514.0204-.77zM22.2021 15.3337c-.2103.5773-.7146.9881-1.3201 1.1147-1.1331.2375-2.3539-.3593-2.7501-1.4593-.3806-1.0581.2249-2.2682 1.2996-2.604 1.0933-.3417 2.4931.2443 2.902 1.3141.1908.4985.1577 1.0942-.109 1.5625-.0069.0244-.0137.0486-.0224.072zM54.5455 67.752c-.0282-1.1098-.1022-2.2167-.2142-3.3196-.2979 1.5439-.8284 3.0498-1.4962 4.4731-1.211 2.5797-2.8299 4.9667-4.6766 7.1404-.9404 1.1089-1.9382 2.1699-2.9886 3.1775-.1869.1782-.3758.3544-.5646.5297-.0029-1.8497.0087-3.7003.1382-5.546.1704-2.4367.5637-4.8674 1.3639-7.1824.4721-1.3657 1.0893-2.6838 1.872-3.8968-1.6793 1.837-3.3449 3.6866-4.9492 5.5868-1.8107 2.1456-3.5464 4.3564-5.1361 6.6673-1.3755 1.9987-2.6557 4.079-3.5727 6.3267-.4478 1.0972-.8109 2.2323-1.0358 3.3946-.2229 1.1545-.3524 2.3666-.2112 3.5386.1402 1.1633.5938 2.274 1.5099 3.047.8907.7506 2.0336 1.1614 3.1862 1.2977.3786.0446.7651.0632 1.1506.0506.1899.0388.3836.0632.5792.0748 1.2841.076 2.5398-.3581 3.6603-.9442 1.2441-.6512 2.3588-1.5255 3.3829-2.4746 1.8603-1.725 3.3877-3.7799 4.586-6.0044 1.2101-2.2478 2.0813-4.6825 2.6382-7.1678.6415-2.8679.8527-5.836.7778-8.769zM34.3819 64.7709c2.8552-.2433 5.7026-.7963 8.3992-1.7718 1.4875-.5383 2.936-1.2314 4.2492-2.1134-.7087.8576-1.4456 1.6919-2.2176 2.497-2.0384 2.127-4.3047 4.077-6.8046 5.6549-2.166 1.3678-4.5189 2.4785-6.9779 3.2193-2.4347.7331-4.9794 1.1157-7.525 1.0309-1.4018-.0467-2.8144-.2092-4.1578-.621-1.211-.3709-2.4084-.9442-3.2621-1.8984-.1295-.144-.2492-.2987-.3563-.4584-.2813-.2619-.5422-.5451-.7778-.8421-.7175-.9043-1.2324-1.9957-1.3269-3.1512-.0963-1.1886.3758-2.2916 1.1059-3.2124.735-.9287 1.6919-1.6939 2.6732-2.3549.9881-.6649 2.055-1.213 3.1541-1.6744 2.2516-.9461 4.6415-1.5196 7.0382-1.9693 2.7735-.5199 5.5771-.8664 8.3885-1.1137 2.4902-.2199 4.9872-.3602 7.4842-.4809-1.4184.3086-2.7949.807-4.1033 1.4427-2.2176 1.0767-4.2288 2.5194-6.0871 4.1218-1.4087 1.2148-2.7365 2.5154-4.0536 3.8257l.3773.0114c.1329.0038.266.0071.3995.009 1.4612.0244 2.9234-.0272 4.3807-.1508zM16.0735 86.4345c-.0211-.008-.0438-.0143-.066-.0205l-.007-.0019c-.4721-.2638-1.0728-.2969-1.5761-.1081-1.0786.4059-1.6705 1.7932-1.3258 2.8767.3387 1.0659 1.5595 1.6665 2.6283 1.2889 1.1088-.3923 1.7105-1.6024 1.471-2.7268-.1275-.5996-.5422-1.1-1.1244-1.3083zM75.4153 16.155c.917.773 1.3697 1.8827 1.5098 3.046.1422 1.1721.0117 2.3841-.2102 3.5386-.2249 1.1633-.589 2.2984-1.0358 3.3955-.918 2.2469-2.1981 4.3281-3.5727 6.3257-1.5907 2.312-3.3254 4.5228-5.1371 6.6674-1.6042 1.9012-3.2689 3.7508-4.9491 5.5868.7827-1.2129 1.3998-2.5301 1.872-3.8958.8002-2.316 1.1935-4.7468 1.3648-7.1824.1285-1.8467.1412-3.6963.1373-5.5469-.1889.1762-.3778.3514-.5637.5306-1.0504 1.0074-2.0482 2.0686-2.9895 3.1764-1.8458 2.1747-3.4656 4.5617-4.6757 7.1404-.6688 1.4242-1.1983 2.9293-1.4972 4.4742-.111-1.104-.1849-2.2108-.2132-3.3206-.0759-2.932.1353-5.9003.7778-8.7681.5559-2.4863 1.4271-4.921 2.6382-7.1677 1.1983-2.2245 2.7247-4.2795 4.5851-6.0044 1.0241-.9492 2.1397-1.8244 3.3828-2.4746 1.1215-.5871 2.3772-1.0203 3.6603-.9444.1957.0108.3894.0361.5802.074.3855-.0116.772.0059 1.1506.0507 1.1517.1363 2.2945.5471 3.1853 1.2986zM96.3753 41.527c-.0944-1.1555-.6094-2.2467-1.3268-3.1512-.2356-.2968-.4965-.5801-.7778-.843-.1062-.1596-.2269-.3135-.3563-.4584-.8538-.9531-2.0502-1.5264-3.2622-1.8974-1.3434-.4118-2.7549-.5753-4.1567-.622-2.5467-.0838-5.0913.2989-7.525 1.0318-2.46.7408-4.812 1.8516-6.9789 3.2193-2.4999 1.578-4.7662 3.5279-6.8047 5.6549-.7719.8042-1.5089 1.6385-2.2166 2.4971 1.3123-.883 2.7608-1.5761 4.2483-2.1135 2.6965-.9754 5.544-1.5283 8.4002-1.7717 1.4563-.1246 2.9185-.1752 4.3806-.1509.259.0039.5169.0117.7769.0205-1.3181 1.3102-2.646 2.6099-4.0536 3.8247-1.8594 1.6034-3.8716 3.0461-6.0882 4.1227-1.3083.6358-2.6848 1.1342-4.1032 1.4428 2.498-.1208 4.994-.2609 7.4851-.481 2.8104-.2472 5.6141-.5938 8.3875-1.1146 2.3967-.4487 4.7866-1.0221 7.0383-1.9693 1.099-.4614 2.167-1.0095 3.155-1.6744.9803-.6601 1.9373-1.4262 2.6732-2.3539.7301-.9209 1.2023-2.0239 1.1049-3.2125zM93.9993 21.4313c-.0243-.0068-.0496-.0137-.073-.0223-.5821-.2084-.9958-.7088-1.1243-1.3084-.2395-1.1235.3621-2.3335 1.4709-2.7267 1.0689-.3778 2.2896.2229 2.6284 1.2888.3446 1.0835-.2463 2.4707-1.3269 2.8766-.5023.189-1.1029.1558-1.5751-.108z M71.2724 60.7469c-1.0601.0176-2.1202-.0194-3.1774-.109-2.0042-.1715-4.002-.5524-5.9009-1.217 2.2668 2.0592 4.5036 4.1515 6.6898 6.295 2.5291 2.4815 4.9891 5.03 7.3245 7.6915 2.3256 2.6489 4.5423 5.394 6.6051 8.2493 2.0608 2.8533 3.9357 5.8311 5.6092 8.9249.1216.2258-.2191.4185-.3495.1966-.2249-.3796-.4527-.7574-.6834-1.1341-1.8301-2.9828-3.8501-5.8613-6.0015-8.624-2.1524-2.7618-4.4508-5.4106-6.8475-7.9651-2.4249-2.5836-4.9287-5.0923-7.5036-7.5289-2.4796-2.3473-5.0181-4.6314-7.5857-6.8836.4063.7093.7461 1.458 1.027 2.2213.7135 1.9391 1.1185 3.9854 1.2967 6.0395.0905 1.0474.1275 2.0988.11 3.1501-.003.186-.0088.3719-.0147.5578-.9588-.9472-1.9109-1.9021-2.7997-2.9146-1.1032-1.2571-2.1038-2.6128-2.8743-4.0974.1161 2.7967.1928 5.5949.2074 8.3937.0195 3.5279-.0594 7.0549-.3057 10.574-.2453 3.5026-.6366 6.9974-1.2149 10.462-.5782 3.4636-1.3765 6.8825-2.3996 10.2431-.075.245-.4527.143-.3884-.106.0539-.204.1067-.407.1587-.611.0569-.223.1129-.446.1684-.669.8332-3.392 1.4582-6.844 1.907-10.3056.4488-3.4617.7126-6.9448.8401-10.4319.1285-3.5268.147-7.0558.0652-10.5836-.0743-3.1664-.2232-6.3311-.4129-9.4928-.2218.7726-.5198 1.5245-.8773 2.2478-.7876 1.5945-1.8428 3.0411-3.0159 4.3767-.8888 1.0125-1.8399 1.9674-2.7987 2.9146-.0059-.1859-.0127-.3718-.0156-.5578-.0175-1.0513.0195-2.1027.111-3.1501.1723-1.987.556-3.9667 1.2268-5.8491-2.0773 2.2463-4.1872 4.4641-6.3499 6.6302-2.5028 2.5076-5.0737 4.9462-7.7586 7.2621-2.6722 2.3052-5.4408 4.5023-8.3213 6.5466-2.8796 2.0434-5.8828 3.9018-9.0037 5.5606-.2278.1207-.4225-.2162-.1986-.3466.3835-.223.7651-.4488 1.1448-.6775 3.009-1.8136 5.9119-3.8161 8.699-5.949 2.7861-2.1338 5.4583-4.4118 8.0351-6.788 2.606-2.4035 5.1371-4.886 7.5951-7.4384 2.367-2.4579 4.6716-4.9739 6.9426-7.5188-.7154.4023-1.4702.739-2.2401 1.0176-1.9557.7067-4.0205 1.1077-6.092 1.2849-1.0563.0896-2.1174.1266-3.1775.109-.186-.0029-.3711-.0087-.5571-.0145h-.0056c.955-.9502 1.9178-1.8935 2.94-2.7745 1.269-1.095 2.6363-2.0864 4.1328-2.8501-2.8209.1149-5.6435.1911-8.4674.2065-3.558.0184-7.1151-.0594-10.6654-.3047-3.5347-.2424-7.0597-.6299-10.5555-1.2033-3.4928-.5734-6.94186-1.3648-10.33153-2.3791-.24726-.074-.14407-.4488.10708-.3846.42932.111.85958.2201 1.29181.3242 3.42084.8265 6.90294 1.4446 10.39484 1.8896 3.4919.4449 7.0061.7077 10.5233.8332 3.5581.1275 7.1181.1461 10.6772.0643 3.1949-.0734 6.3866-.22 9.5767-.4085-.7797-.2195-1.5389-.5151-2.2692-.8691-1.6072-.7817-3.0665-1.8281-4.4147-2.9905-1.0222-.8809-1.985-1.8242-2.94-2.7744l.0959-.0031c.1557-.005.3109-.0099.4668-.0115 1.0601-.0185 2.1212.0194 3.1775.109 2.0043.1706 4.0023.5515 5.9014 1.2171-2.2667-2.0595-4.5034-4.1512-6.6896-6.2954-2.5291-2.4813-4.9891-5.03-7.3254-7.6915-2.3247-2.6488-4.5413-5.394-6.6041-8.2492-2.0618-2.8533-3.9358-5.8312-5.6092-8.9249-.1227-.2259.2181-.4186.3495-.1967.1181.1994.2369.3983.3566.5966.1083.1794.2172.3586.3268.5376 1.8291 2.9827 3.8491 5.8613 6.0015 8.6241 2.1514 2.7616 4.4498 5.4106 6.8474 7.965 2.424 2.5835 4.9288 5.0922 7.5036 7.5288 2.4797 2.3474 5.0173 4.6315 7.5848 6.8836-.4062-.7092-.746-1.458-1.0268-2.2219-.7136-1.9382-1.1176-3.9854-1.2957-6.0395-.0915-1.0465-.1285-2.0978-.111-3.1492.0011-.0695.0027-.139.0047-.2085.0024-.0895.0054-.1791.0083-.2687l.0026-.0816c.9588.9472 1.9099 1.9022 2.7987 2.9146 1.1043 1.2583 2.1042 2.614 2.8746 4.0989-.1159-2.797-.1932-5.5954-.2078-8.3945-.0185-3.5279.0604-7.0548.3066-10.574.2454-3.5025.6357-6.9974 1.214-10.462.5782-3.4636 1.3775-6.88248 2.4006-10.2429.074-.24533.4527-.14314.3874.10612-.1119.42637-.221.85274-.3261 1.28007-.8343 3.39262-1.4583 6.84361-1.907 10.30531-.4488 3.4617-.7136 6.9447-.8401 10.4318-.1286 3.527-.1471 7.0558-.0653 10.5837.0744 3.1668.2225 6.3319.4121 9.4942.2214-.7735.5196-1.5259.8774-2.2489.7875-1.5946 1.8438-3.0412 3.0158-4.3778.8888-1.0124 1.8409-1.9674 2.7997-2.9146l.0001.0028c.0059.186.0117.371.0146.556.0175 1.0514-.0195 2.1027-.11 3.1492-.1724 1.9874-.5571 3.9683-1.2282 5.8503 2.0778-2.2464 4.1874-4.4646 6.351-6.6306 2.5019-2.5078 5.0738-4.9464 7.7587-7.2623 2.6722-2.3051 5.4407-4.5023 8.3213-6.5466 2.8795-2.0434 5.8827-3.9017 9.0037-5.5605.2268-.1207.4215.2161.1976.3465-.3826.223-.7642.4488-1.1438.6776-3.0091 1.8135-5.912 3.816-8.699 5.9489-2.7862 2.1339-5.4584 4.4118-8.0352 6.7881-2.6069 2.4036-5.137 4.8859-7.5951 7.4384-2.3666 2.4576-4.6718 4.9731-6.9425 7.5186.715-.4024 1.4694-.7386 2.2393-1.0171 1.9557-.7077 4.0204-1.1087 6.092-1.285 1.0572-.0896 2.1173-.1275 3.1774-.109.1566.0016.3132.0067.4697.0117l.094.0029c-.956.9502-1.9188 1.8935-2.9399 2.7744-1.269 1.0941-2.6363 2.0853-4.1335 2.8498 2.821-.1149 5.6436-.1908 8.4668-.2054 3.5581-.0186 7.1162.0593 10.6665.3037 3.5337.2423 7.0587.6298 10.5545 1.2032 3.4938.5734 6.9425 1.3648 10.3325 2.3791.247.0741.144.4489-.107.3846-.429-.111-.861-.219-1.292-.3242-3.4217-.8265-6.9029-1.4446-10.3947-1.8896-3.4919-.4447-7.0062-.7067-10.5243-.8332-3.5572-.1275-7.1172-.1461-10.6762-.0643-3.1946.0736-6.3869.22-9.5768.4085.7791.22 1.5382.5155 2.2684.8694 1.6082.7808 3.0675 1.8272 4.4158 2.9905 1.0211.881 1.9839 1.8243 2.9399 2.7745-.1879.0058-.3758.0116-.5637.0145z" fill="#F4B484"/>
			<path id="logo3" d="M55.0739 27.1389c.2984-1.9427.6467-3.8701.9931-5.7867l.0188-.1042c.9591-5.3182 1.9211-11.2509 1.0348-16.82215C56.8377 2.64913 56.04.200169 55.0739 0c-.966.200169-1.7637 2.64913-2.0466 4.42585-.8863 5.57125.0757 11.50395 1.0348 16.82215l.0194.1072c.3462 1.9157.6943 3.8421.9924 5.7837zM60.0696 25.7335c-1.945 3.0306-3.3324 6.368-4.645 9.7143-.0468-4.883.6115-9.773 2.0476-14.4419 1.1693-3.8045 2.8404-8.8169 6.7843-10.5598 1.7687-.78174 4.2087-.72995 5.1021 1.3007.7937 1.8036.006 3.9139-1.1643 5.3451-.8066.9873-1.7813 1.8047-2.7554 2.6216l-.0018.0014c-.5395.4525-1.0787.9049-1.589 1.3856-1.453 1.3684-2.6999 2.9519-3.7785 4.633zM46.1515 21.1003c1.453 1.3694 2.7009 2.9519 3.7785 4.633 1.945 3.0305 3.3324 6.368 4.645 9.7142.0468-4.8829-.6115-9.772-2.0476-14.4418-1.1692-3.8045-2.8404-8.8169-6.7843-10.5598-1.7687-.78082-4.2087-.73-5.1021 1.3007-.7937 1.8036-.0059 3.9139 1.1643 5.346.8063.9863 1.7807 1.8034 2.7544 2.6199.5404.4531 1.0806.9061 1.5918 1.3878zM64.8105 48.632c.3033-.2234.3819-.5694.4603-.914.0135-.0595.027-.1188.0416-.1775.3008-1.1991.5916-2.3992.8814-3.6003-.3275.0904-.6555.1795-.9835.2686-.9527.2588-1.9057.5178-2.8488.806-.6887.2109-.9782.7375-1.2963 1.316-.0559.1017-.1127.2049-.1727.3084l-1.6065 2.7719c-.7761 1.3399-1.5521 2.6792-2.3473 4.0063 1.6284-1.2578 3.3503-2.3931 5.1529-3.3841.6305-.3466 1.2668-.6822 1.9122-.9989.0815-.0398.1678-.0772.2551-.115.1925-.0833.3899-.1689.5516-.2874zM54.3854 57.3702c.9879.3606 2.1113-.2549 2.5754-1.1651.2699-.5288.2351-1.1175.008-1.6383-.1783-.4114-.476-.7788-.8376-1.0408-.1035-.0746-.2141-.1385-.3306-.1912-.0029-.0015-.0059-.0028-.0089-.004l-.0075-.0031-.0039-.0014c-.0036-.0013-.0071-.0025-.0106-.0035-.4581-.1782-.7589-.23-1.2001-.1204-.3366.0836-.6762.219-.9172.482-.0369.0338-.0747.0687-.1086.1065-.2529.2709-.4242.5099-.486.8267-.0836.2529-.1314.5108-.1384.7539-.0269.9222.6045 1.6841 1.466 1.9987zM44.7288 62.9395c.0784-.3447.157-.6907.4603-.9141.1607-.1184.3567-.2034.548-.2863l.015-.0066c.045-.0196.0896-.0389.1335-.0587.0374-.0169.0743-.034.1102-.0517.6454-.3157 1.2818-.6514 1.9122-.998 1.8026-.9919 3.5246-2.1263 5.1529-3.3841-.8054 1.3454-1.5923 2.7035-2.3793 4.0618l-.4392.7575c-.3784.6533-.7569 1.3057-1.1353 1.959-.0345.0595-.068.1189-.1008.1781l-.0665.1205-.0025.0044-.0028.0051c-.3181.5786-.6076 1.1051-1.2964 1.3153-.9283.2843-1.8663.5394-2.804.7943-.343.0933-.6859.1865-1.0283.2812.2898-1.2011.5806-2.4011.8814-3.6002.0075-.0303.0148-.0608.0219-.0913l.0197-.0862zM61.2985 64.4774c.012.0266.0238.0536.0356.0808l.0356.0826c.0832.194.1686.3934.2868.5563.2232.3066.5687.386.912.4646.0581.0134.1162.0268.1736.0413 1.1911.3017 2.3852.5946 3.5783.8863-.0905-.3322-.1798-.665-.2691-.9977l-.0006-.0022c-.2565-.9551-.513-1.9104-.7979-2.8552-.2089-.6919-.7316-.983-1.306-1.3023l-.0053-.0033c-.1003-.0558-.2021-.1125-.3041-.1724-.3546-.2081-.7094-.4162-1.0643-.6242l-1.5447-.9059c-1.3812-.8096-2.7608-1.6183-4.1294-2.4476 1.2509 1.6383 2.3793 3.3712 3.3652 5.1837.3446.6345.6783 1.2748.992 1.9241.0079.0164.0158.0331.0235.0499l.0188.0412zM49.7359 48.1939c.985 1.8137 2.1134 3.5466 3.3642 5.1849-1.3376-.8112-2.6873-1.6026-4.0377-2.3943l-2.7007-1.5844c-.0293-.0172-.0585-.0341-.0878-.0509-.0543-.031-.1084-.0612-.1621-.0911l-.0566-.0315c-.5752-.3196-1.0986-.6106-1.3079-1.3035-.2876-.9539-.5468-1.9183-.806-2.8826-.0872-.3244-.1743-.6487-.2626-.9726 1.1941.2918 2.3872.5846 3.5784.8864.0594.0151.1195.0289.1797.0428.342.0784.6848.1572.9058.4621.1187.1632.2038.3624.2866.5562.0374.0875.0744.1739.1138.2555.3147.6503.6473 1.2897.9929 1.923zM60.0696 84.9238c1.0786 1.6811 2.3255 3.2636 3.7785 4.633.5109.4815 1.0508.9342 1.5909 1.3871.974.8168 1.9487 1.6343 2.7553 2.6216 1.1703 1.4311 1.958 3.5415 1.1643 5.3451-.8934 2.0304-3.3334 2.0814-5.1021 1.3004-3.9439-1.7415-5.615-6.7551-6.7843-10.5585-1.4361-4.6709-2.0944-9.5589-2.0476-14.4429 1.3126 3.3474 2.7 6.6837 4.645 9.7142zM54.575 75.2098c-1.3126 3.3464-2.7 6.6837-4.645 9.7143-1.0776 1.6801-2.3255 3.2636-3.7785 4.633-.5109.4814-1.0508.9341-1.5908 1.387-.9741.8169-1.9488 1.6343-2.7554 2.6216-1.1702 1.4312-1.958 3.5415-1.1643 5.3452.8934 2.0311 3.3334 2.0811 5.1021 1.3001 3.9439-1.7424 5.6151-6.7558 6.7843-10.5592 1.4361-4.67 2.0944-9.5589 2.0476-14.442zM53.926 89.3415c.3486-1.9277.6994-3.8684.9997-5.8234.2999 1.9528.6502 3.891.9984 5.8169l.0134.074c.9591 5.3182 1.9221 11.251 1.0348 16.822-.2829 1.777-1.0806 4.226-2.0466 4.426-.9661-.2-1.7638-2.649-2.0467-4.426-.8863-5.571.0757-11.5038 1.0348-16.822l.0122-.0675zM74.7629 54.9018c4.8552.0468 9.7143-.6155 14.3573-2.0595 3.7805-1.1772 8.7641-2.8573 10.497-6.8251.7758-1.7797.7248-4.2346-1.2927-5.1329-1.7937-.7978-3.8911-.0061-5.3143 1.1711-.9819.8121-1.7947 1.7929-2.607 2.773-.4498.5429-.8995 1.0854-1.3776 1.5991-1.3605 1.462-2.935 2.7169-4.6052 3.8024-3.0127 1.955-6.3301 3.3513-9.6575 4.6719zM74.7629 55.7561c4.8542-.0468 9.7143.6154 14.3573 2.0596 3.7805 1.1762 8.7641 2.8573 10.497 6.8251.7758 1.7787.7248 4.2336-1.2927 5.1319-1.7937.7988-3.8911.006-5.3143-1.1702-.9816-.8119-1.7942-1.7927-2.6063-2.7729-.4501-.5433-.8999-1.0863-1.3783-1.6002-1.3605-1.4621-2.935-2.7168-4.6052-3.8015-3.0127-1.956-6.3301-3.3522-9.6575-4.6718zM110 55.4032c-.198-.972-2.633-1.7747-4.399-2.0586-5.538-.8923-11.4352.0758-16.7225 1.0418l-.1893.0346-.0146.0026-.0024.0003-.0024.0004-.0027.0004-.0027.0003-.003.0004-.0032.0007c-1.8665.3404-3.7442.6828-5.6358.9771 1.8917.2943 3.7695.6367 5.6362.9771l.003.0007.0029.0004.0027.0003.0026.0004.0025.0004.0023.0003.0146.0026.1893.0346c5.2873.9662 11.1845 1.9341 16.7225 1.0418 1.766-.2839 4.201-1.0865 4.399-2.0586z M46.3401 54.5004c-5.857 1.463-12.2409-1.3205-17.3201-4.0593-2.3464-1.2648-4.6061-2.8852-5.868-5.3122-1.208-2.3256-1.5187-5.158-.5597-7.6279 1.5208-3.915 5.7405-6.1547 9.5798-5.1359-1.0128-3.8632 1.214-8.1069 5.1061-9.6366 2.455-.9651 5.2704-.6524 7.582.5627 2.4131 1.2688 4.0235 3.5426 5.2814 5.9029 2.7218 5.1091 5.4895 11.5308 4.0354 17.4227-.1962-.9482-.4332-1.8236-.9282-2.7129-.5338-.9591-1.2419-1.7808-2.1024-2.4589-1.6382-1.2908-3.643-1.9073-5.6628-2.2798-.8564-.1583-1.7657-.2728-2.6934-.3896h-.0033l-.0016-.0004h-.0014c-1.7585-.2212-3.5824-.4508-5.2358-1.0012.548 1.6629.7763 3.4981.9964 5.2676.1162.9349.2303 1.8515.3879 2.7147.3705 2.0306.983 4.0474 2.2668 5.6957.6732.8664 1.4899 1.5775 2.444 2.1153.8833.498 1.7538.7359 2.6969.9331zM65.1397 23.2916c-2.4121 1.2678-4.0245 3.5425-5.2813 5.9029-2.7219 5.109-5.4896 11.5308-4.0355 17.4226.1962-.9481.4332-1.8235.9282-2.7128.5338-.9602 1.2419-1.7808 2.1024-2.459 1.6383-1.2907 3.6431-1.9072 5.6628-2.2807.8557-.1575 1.7642-.2718 2.691-.3883h.0011c1.7607-.2212 3.5873-.4508 5.2424-1.002-.5479 1.6626-.7757 3.4969-.9955 5.2661-.1161.935-.2301 1.8526-.3878 2.7163-.3705 2.0306-.984 4.0474-2.2667 5.6956-.6733.8665-1.4899 1.5776-2.444 2.1143-.8844.498-1.7539.737-2.697.9342 5.857 1.463 12.2409-1.3206 17.3201-4.0593 2.3464-1.2649 4.6061-2.8863 5.868-5.3123 1.208-2.3255 1.5188-5.1579.5597-7.6278-1.5208-3.916-5.7405-6.1558-9.5798-5.136 1.0129-3.8632-1.214-8.1068-5.1061-9.6365-2.4559-.9661-5.2704-.6534-7.582.5627zM50.1408 81.4633c-1.2568 2.3603-2.8682 4.635-5.2803 5.9028-2.3116 1.2161-5.1271 1.5288-7.582.5628-3.8921-1.5298-6.119-5.7734-5.1061-9.6366-3.8403 1.0188-8.059-1.221-9.5798-5.1369-.9601-2.47-.6483-5.3013.5597-7.6269 1.2609-2.4271 3.5216-4.0474 5.868-5.3122 5.0792-2.7388 11.4621-5.5225 17.3191-4.0595-.9421.1973-1.8126.4353-2.697.9343-.9541.5368-1.7697 1.2478-2.444 2.1143-1.2827 1.6483-1.8952 3.665-2.2667 5.6957-.1571.8618-.2707 1.7769-.3867 2.7103-.22 1.7708-.4481 3.6077-.9966 5.272 1.6534-.5505 3.4773-.78 5.2358-1.0013h.0013l.0017-.0003h.0023c.9279-.1169 1.8376-.2314 2.6944-.3897 2.0187-.3725 4.0245-.9899 5.6628-2.2797.8605-.6781 1.5676-1.4989 2.1014-2.4589.496-.8893.733-1.7648.9282-2.7129 1.4541 5.8919-1.3126 12.3126-4.0355 17.4227zM80.9801 60.2164C75.8999 57.4776 69.517 54.6939 63.66 56.157c.9432.1971 1.8126.4352 2.697.9331.9541.5369 1.7697 1.249 2.444 2.1154 1.2827 1.6483 1.8962 3.6651 2.2667 5.6957.1571.8618.2708 1.7769.3867 2.7103.22 1.7709.4482 3.6077.9966 5.272-1.6534-.5505-3.4772-.78-5.2357-1.0013h-.0014l-.0016-.0003h-.0012c-.9282-.1168-1.8387-.2314-2.6956-.3897-2.0187-.3734-4.0235-.9899-5.6618-2.2797-.8615-.6781-1.5686-1.4998-2.1024-2.4589-.495-.8893-.732-1.7648-.9282-2.7139-1.454 5.8919 1.3136 12.3136 4.0355 17.4237 1.2568 2.3603 2.8682 4.6341 5.2814 5.9028 2.3115 1.215 5.126 1.5278 7.5819.5628 3.8921-1.5298 6.119-5.7734 5.1051-9.6366 3.8403 1.0188 8.059-1.2211 9.5808-5.137.9591-2.4699.6474-5.3013-.5597-7.6268-1.2618-2.4271-3.5226-4.0474-5.868-5.3122z M20.8795 57.8153c4.643-1.4441 9.5022-2.1063 14.3573-2.0595-3.3274 1.3205-6.6448 2.7158-9.6575 4.6718-1.6701 1.0856-3.2447 2.3405-4.6051 3.8014-.4776.5133-.9267 1.0554-1.376 1.5977-.8126.9809-1.6263 1.963-2.6087 2.7754-1.4232 1.1762-3.5206 1.969-5.3133 1.1712-2.01871-.8992-2.0695-3.3532-1.2927-5.1329 1.7319-3.9678 6.7155-5.6479 10.496-6.8251zM20.8795 52.8419c4.643 1.444 9.5032 2.1064 14.3573 2.0596-3.3274-1.3207-6.6448-2.716-9.6575-4.6719-1.6702-1.0846-3.2447-2.3395-4.6051-3.8015-.4776-.5133-.9267-1.0554-1.376-1.5977-.8128-.9811-1.6261-1.9627-2.6087-2.7754-1.4232-1.1761-3.5206-1.9689-5.3133-1.1701-2.01871.8983-2.0695 3.3522-1.2927 5.1319 1.7319 3.9678 6.7155 5.6489 10.496 6.8251zM21.2113 54.2529c1.9095.349 3.8306.7004 5.7663 1.0014-1.9021.2958-3.7901.6401-5.6669.9822l-.1892.0346c-5.2873.9661-11.18418 1.9341-16.72251 1.0418C2.63222 57.029.198186 56.2264 0 55.2543c.198186-.972 2.63222-1.7747 4.39899-2.0586 5.53833-.8924 11.43521.0757 16.72251 1.0408l.0898.0164z" fill="#F4B484"/>
		</svg>

-->



	</div>
</div>
