<div class="flex items-baseline">
	<h4 class="mr-4 font-serif italic text-gray-800 text-xl flex-none">
		{{ include.text }}
	</h4>
	<div class="bg-gray-800 w-full" style="height: 1.25px">

	</div>
</div>
