<section class="min-h-screen w-full bg-white py-24">
	<div class="w-2/3 mx-auto text-center">
		<div class="w-8 h-8">
			{% include svg/story.svg %}
		</div>
		<h2 class="mb-2">
			{{ site.data.home.story.heading }}
		</h2>
		<p class="pt-2">{{ site.data.home.story.description }}</p>
	</div>
</section>
