.slider-container {
  overscroll-behavior: none;
  overflow: scroll;
}

.slider {
  position: relative;
  //top: 0;
  left: 0;
  width: 2800px;
  height: 600px;
}

.slider-inner {
  position: absolute;
  top: 15%;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.item {
  position: relative;
  width: 450px;
  height: 95%;
  overflow: hidden;
}
