#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F9EDE1;
}

.lg-preloader--my-preloader {
  opacity: 1;
  transition: opacity 0.6s linear;

  &.is-hidden {
    opacity: 0;
  }
}

#logo3,#logo2 {
  visibility: hidden;
}

.noise {
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .025;
}

