@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

// _sass/main.scss
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "luge";
@import "gallery";
@import "loader";
@import "hero";
@import "slider";

@import "pages/journey";

.page-padding {
  @apply px-4 md:px-14
}

.page-vertical-padding {
  @apply py-24 md:py-32
}

.page-vertical-padding-small {
  @apply py-12 md:py-16
}

.full-height {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  //height: calc(var(--vh, 1vh) * 100)
}

//@import "luge";
//
//body {
//  font-family: 'Be Vietnam', sans-serif;
//}
//
//#loader {
//  width: 100vw;
//  height: 100vh;
//  position: fixed;
//  z-index: 999;
//  background-color: #017BF6;
//  opacity: 1;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  top: 0;
//  transform: translateY(0);
//  // animation-name: opacity;
//  // animation-duration: 1s;
//  // animation-timing-function: ease-in-out;
//
//  &.remove {
//    transform: translateY(-100vh);
//    transition: transform 1s ease-in-out 0.5s;
//  }
//
//}

// #main {
//   opacity: 1;
//   transform: translateY(100vh);
//   transition: transform, opacity 1s ease-in-out 0.5s;

//   &.show {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }



// Include any custom CSS here
//
//@import
//  "bulma/minireset",
//  "bulma/mixin",
//  "bulma/layout",
//  "bulma/spacing",
//  "bulma/container"
//;
//
//@import
//  "partials/fonts",
//  "partials/variables",
//  "partials/mixins",
//  "partials/normalize",
//  "partials/utilities",
//  "partials/typography",
//  "partials/app",
//  "partials/footer"
//;
//
//@import
//  "pages/home"
//;
