.slideshow {
  .slide {
    opacity: 0;
    pointer-events: none;
    &--current {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
.slides-nav__location--text {
  position: absolute;
  white-space: nowrap;
  left: 36px;
  top: 50%;
  transform: translateY(-50%);
}
.slides-nav__button {
  &::before, &::after  {
    content: '';
    position: absolute;
    width: 1.75rem;
    transition: all 0.3s ease-out;
    height: 1px;
    background: currentColor;
    top: 50%;
    @media screen and (min-width: 768px) {
      width: 3rem;
    }
  }
  &:hover {
    &::before, &::after  {
      width: 0.75rem;
      @media screen and (min-width: 768px) {
        width: 1rem;
      }
    }
  }
  &::before {
    left: 100%
  }
  &::after {
    right: 100%
  }
}

.text {
  &-row {
    position: relative;
    overflow: hidden;
    display: block;
    white-space: nowrap;

    > span {
      display: block;
      position: relative;   
      @media screen and (min-width: 768px) {
        padding: 0.5rem 0;
      }
    }
  }
  &__stroke-white {
    color: #FFF;
    color: rgba(255, 255, 255, 0);
    @supports (-webkit-text-stroke: 1px black) {
      -webkit-text-stroke: 2px white;
    }
  }
}
