<section class="">
	<!--HEADER-->
	<div class="w-full">
		<div class="w-full h-full flex flex-col-reverse lg:flex-row">


			<div class="w-full md:w-7/12 lg:w-1/2 h-full pt-12 md:pt-40 pb-20 px-6 md:px-14">
				<div class="mb-3 text-primary italic leading-8 font-serif text-justify pr-8 text-xl">
					<p>
						Tà Năng, 24 tháng 6 năm 2020
					</p>
				</div>
				<h1 id="hero-header-text" class="text-gray-900 font-serif text-4xl md:text-6xl text-left">{{ include.title }}</h1>

				<!--DESCRIPTION-->
				<div class="mt-12 text-gray-500 leading-8 font-serif text-justify pr-8 text-xl">
					<p>
						{{ include.intro }}
					</p>
				</div>

				<!--META-->

			</div>
			<img class="w-full md:w-5/12 lg:w-1/2 z-0 object-cover" src="/assets/img/journey/{{ include.thumbnail }}.webp" alt="hình ảnh trang chủ">
		</div>
	</div>


</section>
