<section class="flex flex-col page-vertical-padding-small page-padding">
  {% for post in site.posts %}
		<a href="{{ post.url }}">
      <div class="journeyItem w-full pt-4 md:pt-14">
          <div class="w-full h-full relative">
              <!--HERO HEADER-->
              <div class="absolute w-full h-full z-40 flex items-center justify-center">
                  <h1 id="hero-header-text" class="text-lighter font-serif text-6xl md:text-8xl text-center">{{ post.title }}</h1>
              </div>
              <!--HERO OVERLAY-->
              <div class="absolute w-full h-full z-10 bg-gray-800 bg-opacity-20"></div>

              <img class="absolute w-full h-full z-0 object-cover" src="/assets/img/journey/{{post.thumbnail}}.webp" alt="hình ảnh trang chủ">
          </div>
      </div>
		</a>
  {% endfor %}
</section>
