---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">
  {% include head.html %}

	{% comment %}{% include loader.html %}{% endcomment %}


	<body id="body" data-scroll-container data-barba="wrapper">

    <div data-barba="container" data-barba-namespace="{{ page.id }}">
			{% if page.url == "/" %}
			{% else %}
				{% include header.html %}
			{% endif %}
			<main class="bg-background">
				{{ content }}
			</main>
    </div>

		{% include footer.html %}
	</body>
</html>
