---
layout: default
---
<div class="w-full bg-lighter" >
	{% assign include-title = page.title %}
	{% assign include-thumbnail = page.thumbnail %}
	{% assign include-intro = page.intro_paragraph %}
	{% include post/header.html title=include-title thumbnail=include-thumbnail intro=include-intro %}
	{% include post/float-panel.html %}
	<section class="page-vertical-padding post-journey-content-container px-6 font-serif text-xl leading-8">
		<div class="w-32 mb-14 h-auto mx-auto">
			{% include svg/bahoa.svg %}
		</div>
		{{ content }}
	</section>

	<div class="page-padding transform translate-y-8 md:translate-y-20">
		{% include section-break.html text="Các chuyến đi khác" %}
	</div>
	{% include journey/journey.html %}
	{% include home-section/blog.html %}
</div>
